* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
}

nav {
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  height: 50px;
  background-color: teal;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 3px 5px #141414;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}

.nav--logo {
  font-weight: 700;
  font-size: 18px;
}

.nav--links > a {
  margin-right: 30px;
  font-weight: 500;
}

.user-icon {
  font-size: 30px;
}

.hero {
  height: 500px;
  background-image: url("/hero.jpg");
  background-size: 100% 100%;
  padding: 50px 20px;
}

.hero--title {
  margin: 0;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px #141414;
  letter-spacing: 0.2em;
  font-size: 2.4rem;
  font-weight: 900;
}

.hero--intro {
  width: 80%;
  color: white;
  font-size: 1.1rem;
  text-shadow: 0px 0px 5px #141414;
  line-height: 2em;
  word-spacing: 0.2em;
}

.section {
  margin: 10px 50px;
  border-bottom: 1px solid teal;
  padding-bottom: 10px;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-heading > h1 {
  margin: 0;
  color: teal;
}

.section-heading > a{
  text-decoration: none;
  font-weight: 500;
  color: teal;
  border: 2px solid teal;
  border-radius: 5px;
  padding: 0px 10px;
}

.courses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.course {
  background-color: teal;
  flex: 1 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px 0px 0px 0px;
}

.course--name {
  color: white;
  font-size: 20px;
  font-variant: small-caps;
  text-shadow: 0px 0px 2px #141414;
  margin: 0;
}

.course--description {
  margin-top: 20px;
  color: whitesmoke;
  line-height: 1.3em;
}

.course--progressbar {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  height: 15px;
  background-color: white;
  margin-top: auto;
}

.course--progress {
  width: 50%;
  height: 15px;
  background-color: tomato;
  border-radius: 5px;
}

.course--resume-btn {
  width: 100%;
  margin: 5px auto;
}

/* == Courses Page == */
.page-hero {
  /* background-color: rebeccapurple; */
  /* height: 350px; */
  padding: 30px;
}

.page-hero p {
  line-height: 2em;
}

.page-hero h1 {
  margin: 0;
}

.filter-section {
  background-color: teal;
  padding: 10px 30px;
}

.filter-section h3 {
  margin: 0;
  color: #FFFFFF;
}

.filters form {
  /* background-color: aliceblue; */
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.filter-section form select {
  flex-basis: 200px;
  height: 30px;
  font-size: 16px;
  /* background-color: aqua; */
}

footer {
  width: 100%;
  position: fixed;
  margin-top: auto;
  left: 0px;
  bottom: 0px;
  background-color: teal;
  text-align: center;
  color: white;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  margin-top: 10px;
}